In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

In [4]:
data = pd.read_csv("uber-raw-data-sep14.csv")
## data["Date/Time"] = data["Date/Time"].map(pd.to_datetime) 
data.head()

          Date/Time      Lat      Lon    Base
0  9/1/2014 0:01:00  40.2201 -74.0021  B02512
1  9/1/2014 0:01:00  40.7500 -74.0027  B02512
2  9/1/2014 0:03:00  40.7559 -73.9864  B02512
3  9/1/2014 0:06:00  40.7450 -73.9889  B02512
4  9/1/2014 0:11:00  40.8145 -73.9444  B02512

In [ ]:
data["Date/Time"] = data["Date/Time"].map(pd.to_datetime)

In [ ]:
data["Day"] = data["Date/Time"].apply(lambda x: x.day)
data["Weekday"] = data["Date/Time"].apply(lambda x: x.weekday())
data["Hour"] = data["Date/Time"].apply(lambda x: x.hour)
print(data.head())

In [ ]:
sns.set(rc={'figure.figsize':(12, 10)})
sns.distplot(data["Day"])

'''So I have prepared this data according to the days
and hours, as I am using the Uber trips for the September month,
so letâ€™s have a look at each day to see on which day the Uber trips 
were highest:'''

In [ ]:
## We can see that trips wend down on weekends and up on weekdays
# Now , according to hours

In [ ]:
sns.distplot(data["Hour"])

In [ ]:
sns.distplot(data["Weekday"])

In [ ]:

# Correlation of Weekday and Hour
df = data.groupby(["Weekday", "Hour"]).apply(lambda x: len(x))
df = df.unstack()
sns.heatmap(df, annot=False)

In [ ]:

data.plot(kind='scatter', x='Lon', y='Lat', alpha=0.4, s=data['Day'], label='Uber Trips',
figsize=(12, 8), cmap=plt.get_cmap('jet'))
plt.title("Uber Trips Analysis")
plt.legend()
plt.show()

Summary

So this is how we can analyze the Uber trips for New York City. Some of the conclusions that I got from this analysis are:

Monday is the most profitable day for Uber
On Saturdays less number of people use Uber
6 pm is the busiest day for Uber
On average a rise in Uber trips start around 5 am.
Most of the Uber trips originate near the Manhattan region in New York.